<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Hits</p>
    <form action="/hits" method="GET">

      <div id="insert-tracks"></div>
      <button id="top-tracks" type="Submit">Get Top Tracks</button>
</form>
<div id="insert-songs"></div>
<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
 <script src="javascripts/script.js" type="text/javascript"></script>
  </body>
</html>
