<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Hits</p>
  </body>
</html>
=======
<% include ../partials/header %>
  <p>Welcome to Hits Page</p>
<% include ../partials/footer %>
>>>>>>> 898ed7f6bdcbe18116aeefefa1e1941bd535712e
